{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl text-center font-black">Dictionaries</h1>

<div class="mt-4">
    <form class="flex justify-center items-center" method="post">
        {% csrf_token %}
        
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div>
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}

        <button class="btn submit-btn rounded-r" type="submit">Submit</button>
    </form>
</div>

{% if words %}
<section class="mt-4 flex flex-row flex-wrap">
    {% for word in words %}
    <a href="{% url 'dictionary:detail' word.slug %}">
        <span class="word {{ word.is_headword|yesno:"headword,not-headword"}}">
            {{ word.word }}
        </span>
    </a>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
